<h1>
  {{title}}
</h1>


<p>
  <h2>
    Bank
  </h2>
  coins: {{game.bank.money}}
<p>

<p>
  <h2>Available Cards</h2>
  Take one coin: {{countTakeOneCoin()}} <br>
  Take two coins: {{countTakeTwoCoins()}} <br>
  Make an opponent drop a coin: {{countMakeAnOpponentDropACoin()}}
<p>
<p>
  <div style="display: flex">
    <div *ngFor="let player of game.couch.players" class="player">
      {{player.name}}: {{player.wallet}} coins
    </div>
  </div>
<p>

  <span [hidden]="!game.isDone()">
    <h2>Game is done!</h2>
  </span>



